/* General */
.changer{
  background: none;  
}
html {
  scroll-behavior: smooth;  
}
body{
    margin:0px;
    font-family: "Google Sans","Roboto","Arial",sans-serif;
}
button
{
    outline: 0 none;
}
* {box-sizing:border-box} 
.head {
    padding-left:10px;
    padding-top:0px;
    padding-bottom:0px;
    color:#004bc4;
}
.footer {
  padding:20px;
  margin-top:0px;
  text-align:center;
}
.footer-top {
  text-align:center;
}
.footer-top p{
  color:white;
}
.footer .add_button a{
  color:white;
}
.footer-lower{
  padding:2px;
  display:inline-block;
  width:30%;
  vertical-align: middle;
}
.footer-lower p {
  color:white;
}
.footer-lower p a {
  color:white;
}
.footer-left{
  text-align:left;
  font-weight:bolder;
  font-size: large;
}
.footer-right{
  text-align:right;
}
@media screen and (max-width:1080px){
  .footer-lower{
    display:block;
    margin:auto;
  }
  .footer-left{
    display:none;
  }
  .footer-right{
    text-align:center
  }
}
.navbar{
  overflow: hidden;
  background-color:white;
  position: sticky;
  top: 0;
  width: 100%;
  display: block;
  z-index:100000;
}
.navbar a {
  background-color:white;
  float: left;
  display: block;
  color: gray;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  transition:.2s;
  z-index: 0;
}
.navbar a.nav-right{
  float: right;
  padding-bottom:0;
}
.navbar .icon {
  display: none;
}
@media screen and (max-width: 1070px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 1070px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.navbar a:hover {
  background-color:rgb(238, 237, 237);
  transition:.2s;
}

.navbar a#home-active {
  background-color: #003489;
  color:white;
}
.navbar a#wb-active {
  background-color: rgb(70, 0, 70);
  color:white;
}
.navbar a#av-active {
  background-color: #F26522;
  color:white;
}
.navbar a#cf-active {
  background-color: darkgreen;
  color:white;
}
.navbar a#dev-active {
  background-color: #f80042;
  color:white;
}
.navbar a#about-active {
  background-color: #003489;
  color:white;
}
.fas {
  font-size: 20px;
  color:#999999;
}
.textdec_none {
  text-decoration: none;
}
.add_button {
  background: none;
  border: 2px rgb(187, 187, 187) solid;
  border-radius: 4px;
  padding: 10px;
  transition:.5s;
}
.add_button a {
  color:gray;
  font-weight: bold;
  text-decoration: none;
}
.add_button:hover {
  background-color:rgb(70, 70, 70);
  border-color:rgb(70, 70, 70);
  transform: scale(1.1);
  transition:.5s;
}
.add_button:hover a {
  color:white;
}
.standard-btn{
  border:none;
  border-radius: 25px;
  color:white;
  padding:15px;
  font-size:large;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius:5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius:5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #003489;

}








































/* Home */
.home-wbpromohead{
  background-color:black;
  color:white;
  padding:13%;
  background-image: url('pics/wblogo_purple.png');
  background-position: 85%;
  background-size:30%;
  background-repeat: no-repeat;
  display:none;
}
.home-avpromohead{
  background-color: #f1f1f1;
  color:black;
  padding:13%;
  background-image: url('pics/avion_logo.png');
  background-position: 85%;
  background-size:20%;
  background-repeat: no-repeat;
  display:none;
} 
.home-promohead-content{
  width:50%;
}

.promo-show{
  display: block;
}
#home-promohead-buttons-cont{
  text-align: center;
}
.home-promohead-button{
  text-align: center;
  margin:1% 10px;
  border-radius:30px;
  padding:5px;
  border: solid 5px gray;
}
.promohead-btn-active{
  background-color:gray;
}

@media screen and (max-width:1080px){
  .home-header{
    margin-top:0;
  }
  .home-promohead-button{
    margin-top:3%;
  }
  .home-wbpromohead,.home-avpromohead{
    background-image:none;
    text-align: center;
  }
  .home-promohead-content{
    width:100%;
  }
}


.home-wbget{
  margin:0;
  padding:10%;
  color:black;
  text-align:center;
  padding-bottom:0;
}
.home-wbget-left,.home-wbget-right {
   display:inline-block;
   width:30%;
}
.home-wbget-left{
  vertical-align: middle;
  font-size: larger;
}
.home-wbget-right{
  vertical-align: middle;
}
.home-wbget-right a{
  font-size:x-large;
  color:black;
  text-decoration: none;
  border-bottom:3px solid black;
}
@media screen and (max-width:1080px){
  .home-wbget-left,.home-wbget-right {
    display:block;
    width:100%;
 }
}
.home-wbppromo-fade{
  height:3000px;
  background: linear-gradient(0deg, black 20%, rgb(125,125,125) 60%, white 75%);
}
.home-wbppromo-fade .content{
  position:sticky;
  top:50%;
  color:white;
  margin:10%;
}
.home-wbppromo-fade2{
  padding:10%;
  margin:0;
  background-color:black;
  background: linear-gradient(-10deg,rgb(70,0,70) 20%,rgb(35, 0, 35) 60%,black 75%);
  height:3000px;
}
.home-wbppromo-fade2 .content {
  position:sticky;
  top:50%;
  color:white;
  margin:10%;
}
.home-wbppromo-fade3{
  padding:10%;
  margin:0;
  background-color:black;
  background: linear-gradient(0deg,black 20%,rgb(35, 0, 35) 60%,rgb(70,0,70) 75%);
  height:3000px;
}
.home-wbppromo-fade3 .content {
  position:sticky;
  top:50%;
  color:white;
  margin:10%;
}
.home-wbppromo-fade4{
  padding:10%;
  margin:0;
  background-color:black;
  background: linear-gradient(10deg,white 20%,rgb(125, 125, 125) 60%,black 75%);
  height:3000px;
  text-align:center;
}
.home-wbppromo-fade4 .content {
  position:sticky;
  top:50%;
  margin:0;
  color:black;
}

@media screen and (max-width:1080px){
  .home-wbppromo-fade,.home-wbppromo-fade2,.home-wbppromo-fade3,.home-wbppromo-fade4{
    height:1500px;
  }
}








































/* Website Builder */
.beforeandafter{
  width: 300px;
  height: 300px;
  overflow:hidden;
  position: relative;
}
.before, .after{
  width: 300px;
  height: 300px;
  position: absolute;
  overflow:hidden;
  transition: 1s;
  z-index: 2;
}
.after{
z-index: 1;
background-color:blue;
}
.before {
  background-color:red;
}

.beforeandafter:hover .before{
height:0px;
}

.wb-head{
  text-align:center;
  width:25%;
  margin:auto;
  margin-top:7%;
  margin-bottom:7%;
  font-size: x-large;
}
.getwebsitebutton {
  border:none;
  background-color: rgb(182, 0, 182);
  border-radius: 25px;
  color:white;
  padding:15px;
  font-size:large;
}
@media screen and (max-width:1080px){
  .wb-head {
    width:100%;
  }
}


.wb-customize{
  width:100%;
  padding-top:10%;
  padding-bottom:10%;
  background-color:rgb(70, 0, 70);
  margin:0;
  background-image: url('pics/codingblur.png');
  background-size: 77%;
  background-position-x:218%;
  background-position-y: center;
  background-repeat: no-repeat;
}
.wb-customize h1{
  color:white;
}
.wb-customize p{
  color:white;
}
.wb-customize p {
  text-align:justify;
  margin-bottom:30px;
}
.wb-customize-innertext{
  width:50%;
  padding:5%;
}
@media screen and (max-width:1080px){
  .wb-customize{
    background-image:none;
    text-align:center;
  }
  .wb-customize p{
    text-align:center;
  }
  .wb-customize-innertext{
    width:100%;
  }
}


.wb-webdesabove{
  text-align:center;
  margin:10px;
  padding:10px;
}
.wb-webdesabove p {
  color:rgb(70, 0, 70);
  font-weight:bolder;
}
.wb-webdesabove img{
  width:50%;
}
@media screen and (max-width:1080px){
  .wb-webdesabove img {
    width:100%;
  }
}

.wb-mobile{
  text-align:right;
  width:100%;
  padding-top:10%;
  padding-bottom:10%;
  background-color:rgb(70, 0, 70);
  margin:0;
  background-image: url('pics/mobileresponsive2.png'),url('pics/mobileresponsive1.png');
  background-size: 15%,77%;
  background-position-x:20%,-120%;
  background-position-y: 55%,center;
  background-repeat: no-repeat;
}
.wb-mobile h1{
  color:white;
}
.wb-mobile p{
  color:white;
}
.wb-mobile p {
  text-align:right;
  margin-bottom:30px;
}
.wb-mobile-innertext{
  width:50%;
  padding:5%;
  margin-left:50%;
}
.wb-mobile img {
  width:15%;
}
@media screen and (max-width:1080px){
  .wb-mobile{
    background-image:none;
    text-align:center;
  }
  .wb-mobile p{
    text-align:center;
  }
  .wb-mobile-innertext{
    width:100%;
    margin:0;
  }
}

.wb-steps{
  background-color: rgb(226, 226, 226);
  margin:10%;
  margin-top:2%;
  margin-bottom:2%;
  padding:5%;
  border:10px solid black;
  border-radius: 100px;
}
.wb-steps h3 {
  background-color: rgb(182, 0, 182);
  width:20%;
  padding:6px;
  color:white;
}
.wb-steps p {
  color:black;
}
@media screen and (max-width:1080px){
  .wb-steps{
    margin:1%;
    margin-top:10%;
    margin-bottom:10%;
    text-align: center;
    border:none;
    background:none;
  }
  .wb-steps h3 {
    width:50%;
    margin:auto;
  }
}

.wb-get{
  background-color:rgb(90, 90, 90);
  margin:0;
  padding:10%;
  color:white;
  text-align:center;
}
.wb-get-left,.wb-get-right {
   display:inline-block;
   width:30%;
}
.wb-get-left{
  vertical-align: middle;
  font-size: larger;
}
.wb-get-right{
  vertical-align: middle;
}
@media screen and (max-width:1080px){
  .wb-get-left,.wb-get-right {
    display:block;
    width:100%;
 }
}


.wb-pricing{
  text-align:center;
}
.wb-pricing h1{
  background-color:rgb(70,0,70);
  color:white;
  width:20%;
  padding:1%;
  margin:auto;
  margin-top:20px;
}
.wb-pricing-cont{
  background-color: rgb(235, 235, 235);
  display: inline-block;
  width:30%;
  padding:50px;
  margin:50px;
  line-height: 2em;
}
.wb-pricing-cont p {
  color:black;
}
#wbp-buy-cont{
  border: 10px solid rgb(70,0,70);
}
#wbp-buy-cont h2{
  color:white;
  background-color:rgb(70,0,70);
  width:60%;
  margin:auto;
  margin-top:5%;
}

@media screen and (max-width:1080px){
  .wb-pricing h1 {
    width:60%;
  }
  .wb-pricing-cont {
    width:90%;
    margin:5px;
    line-height: normal;
  }
}








































/* Avion */
.avion-head{
  padding: 16% 7%;
  color: #3d3d3d;
  background-color:#f1f1f1;
  background-image: url('pics/avion_logo_rotated.png');
  background-position-x: 120%;
  background-size: 60%;
  background-repeat: no-repeat;
}
.avion-gamehead{
  text-align:center;
  padding:1%;
}
.avion-gamehead-button{
  text-decoration: none;
  margin:0% 2%;
}
.avion-gamehead-button img{
  width:2%;
  border-radius: 20px;
  transition:.2s;
}
.avion-gamehead-button img:hover{
  border-radius: 5px;
  transform: scale(3);
  transition:.2s;
}


.avion-different{
  display:flex;
  background-color:black;
}
.avion-different-text{
  width:50%;
  padding:10%;
  color:white;
}
.avion-different-video-cont{
  width:50%;
  margin:auto;
}
.avion-different-video{
  width:100%;
}


.avion-app{
  display:flex;
  background-size: cover;
}
.avion-app-text{
  width:50%;
  padding:10%;
  background-color:rgba(0,0,0,.8);
  color:white;
}
.avion-app-img-cont{
  width:50%;
  margin:auto;
  text-align: center;
}
.avion-app-img{
  width:40%;
  border:10px solid rgba(0,0,0,.2);
  border-radius:25px;
}
.avion-download-btn{
  border:solid white 1px;
  border-radius:5px;
  background-color: #F26522;
  color:white;
  padding:2%;
  font-weight:bolder;
}


@media screen and (max-width: 700px){
  .avion-head{
    background-image: url("pics/avion_logo_rotated.png");
    background-position: center;
    background-size:250%;
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.8);
    text-align:center;
    padding: 40% 7%;
  }
  .avion-gamehead-button img {
    width:10%;
  }
  .avion-gamehead-button img:hover {
    border-radius: 20px;
    transform: scale(1);
  }
  .avion-different{
    display:block;
    background:none;
  }
  .avion-different-text{
    width:100%;
    padding:5% 2%;
    text-align:center;
    background-color:#F26522;
  }
  .avion-different-video-cont{
    width:100%;
    background-color: black;
  }
  .avion-app-text{
    width:100%;
    text-align:center;
  }
  .avion-app-img-cont{
    display:none;
  }
}




































/* Clock Faces */
.cf-head {
  padding:150px;
  margin-top:25px;
  margin-bottom:25px;
}
.cf-desc{
  margin:0px;
  background-image: url("pics/fitbit-icon.jpg");
  background-repeat: no-repeat;
  background-size:300px;
  background-position-x: 80%;
  background-position-y: 50%;
  background-color:black;
}
.cf-subhead{
  background-color:darkgreen;
  width:37%;
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  border-radius:20px;
}
@media screen and (max-width: 1070px) {
  .cf-desc {
    background-image:none;
  }
  .cf-head {
    padding:20px;
    padding-top:150px;
    padding-bottom:150px;
  }
}
.cf-container {
  height:40%;
  width:20%;
  margin:2%;
  padding:2%;
  background-color:lightgray;
  text-align:center;
  transition:.5s;
  display:inline-block;
}
@media screen and (max-width:1070px){
  .cf-container{
    width:90%;
  }
}
.cf-container:hover {
  transform: scale(1.1);
  background-color:darkgreen;
  color:white;
  transition:.5s;
}
.cf-pic {
  width:70%;
  height:70%;
}
.cfs-cont{
  text-align: center;
}
.cf-hr {
  width:80%;
  height:5px;
  background-color:gray;
  border:none;
}
.cf-section-head{
  color:gray;
}









































































/* Developers page */
.tutorial-head-cont{
  position: sticky;
  top:0;
}
.tutorial-else{
  background-color:white;
  position:sticky;
  top:0;
  z-index:10;
}
.tutorial-head-bg-image{
  background-image:url('pics/coding.png');
  background-size:cover;
  background-repeat:none;
  background-attachment: fixed;
  padding-top:25%;
  padding-bottom:25%;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.tutorial-head{
  background-color:white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 20px;
  text-align: center;
}
.tutorial-head h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 5px solid #f80042; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 2px; /* Adjust as needed */
  animation: 
    type 1s steps(13, end),
    blink-cursor .6s step-end infinite;
}

/* The typing effect */
@keyframes type {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-cursor {
  from, to { border-color: transparent }
  50% { border-color: #f80042; }
}
.tutorial-intro{
  background-color:white;
  padding:11%;
}
.tutorial-intro-content{
  background-color:#f80042;
  border-radius: 100px;
  padding:11%;
}
.tutorial-intro-content h1{
  color:white;
}
.tutorial-intro-content p{
  color:white;
}
.videos-head{
  color:gray;
  padding:10px;
  text-align:center;
}
.chip {
  display: inline-block;
  width:20%;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  transition: .5s;
}
.chip:hover{
  background-color: #FF0000;
  color:white;
  transform: rotateY(360deg);
  transition: .5s;
}
.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
iframe {
  background-color:lightgray;
  padding:10px;
  display:block;
  margin:auto;
}
.videos{
  text-align:center;
  transition: .5s;
  display:inline-block;
  width:100%;
}
#video-filter-button-container{
  text-align: center;
  margin:2%;
}
.video-filter-button{
  border:none;
  background-color:lightgray;
  padding:15px;
  margin:5px;
  font-size: large;
  color:black;
  border-radius: 10px;
  transition:.2s;
}
.video-filter-button:hover:not(.vfb-active){
  background-color:rgb(185, 184, 184);
  transition:.2s;
}
.vfb-active{
  background-color:#f80042;
  color:white;
}
.video{
  height:15%;
  width:45%;
  padding:10px;
  margin:10px;
  background-color:lightgray;
  display:none;
}
.video-show {
  display:inline-block;
}
.video-button-cont{
  display:inline-block;
}
.video-button{
  padding:10px;
  background-color:rgb(0, 110, 255);
  border:none;
  border-radius:25px;
}
.video-button i {
  color:white;
}
.video-button span {
  display:none;
  color:white;
}
.video-button a {
  text-decoration: none;
}
.video-button:hover span {
  display:block;
  padding:5px;
}
.video-button:hover i {
  display:none;
}
@media screen and (max-width:1070px){
  .video{
    width:94%;
  }
  .video-button i {
    display:none;
  }
  .video-button span {
    display:block;
  }
}






.new-label{
  display:none;
  transition: .5s;
}
.chip:hover .new-label{
  display:inline-block;
  transition: .5s;
}
.chip:hover .yt-name{
  display:none;
  transition: .5s;
}
@media screen and (max-width:1070px){
  .tutorial-head-cont{
    display:none;
  }
  .chip{
    width:80%;
  }
  iframe{
    width:95%;
  }
}
















































/* About */
.about-wn {
  background-color:rgb(226, 226, 226);
  margin:50px;
  padding:20px;
  border-radius:25px;
  text-align:center;
}
.about-wn hr {
  background-color:#003489;
  border:1px solid #003489;
}
.insta-btn{
  font-size:60px;
  border:none;
  background: linear-gradient(45deg, #ffc422, #e626ff);
  border-radius:10px;
  padding:2px 10px;
  color:white;
}
