html {
  scroll-behavior: smooth;
}
body{
    margin:0px;
    font-family: "Google Sans","Roboto","Arial",sans-serif;
}
p {
  color:black;
}
.head {
    padding-left:10px;
    padding-top:0px;
    padding-bottom:0px;
    color:#004bc4;
}
.footer {
  padding:20px;
  margin-top:0px;
}

.navbar{
  overflow: hidden;
  background-color:white;
  position:sticky;
  top:0;
  z-index:10;
}
.navbar a {
  background-color:white;
  float: left;
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition:.2s;
  z-index: 20;
}
.navbar a.nav-right{
  float: right;
}
.navbar .icon {
  display: none;
}
@media screen and (max-width: 1070px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 1070px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.navbar a:hover {
  background-color:rgb(238, 237, 237);
  transition:.2s;
}
#avion-mobile-body {
  display:none;
}
@media screen and (max-width: 1070px){
  #avion-mobile-body {
    text-align:center;
    padding:10px;
    margin:10px;
    background-color:rgb(240, 240, 240);
    border-radius:50px;
    display:inline-block;
  }
  #avion-body {
    display:none;
  }
}


.navbar a#home-active {
  background-color: #003489;
  color:white;
}
.navbar a#wb-active {
  background-color: rgb(70, 0, 70);
  color:white;
}
.navbar a#av-active {
  background-color: #F26522;
  color:white;
}
.navbar a#cf-active {
  background-color: darkgreen;
  color:white;
}
.navbar a#about-active {
  background-color: #003489;
  color:white;
}






.fas {
  font-size: 20px;
  color:#999999;
}
.main {
    background-color: #ebebeb;
    color:dimgray;
    margin:100px;
    padding:120px;
    background-image: url('pics/wblogo_dimgrey.png');
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 300px;
}
@media screen and (max-width: 1070px) {
  .main {
    background-image:none;
    margin:10px;
  }
}
.main2 {
  /* background-color: rgb(247, 247, 247); */
  background-color: #ebebeb;
  color:dimgray;
  margin:10%;
  margin-right:0px;
  margin-left:0px;
  padding:120px;
  background-image: url('pics/avion_logo.png');
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 300px;
}
@media screen and (max-width: 1070px) {
  .main2{
    background-image:none;
  }
}
.secondary {
  color: gray;
  text-align:center;
  margin:25px;
  padding:25px;
}
.app_ad {
  background-color: #003489;
  color: white;
  text-align:center;
  margin:70px;
  margin-right:0px;
  margin-left:0px;
  padding:60px;
}
.pro-head{
  margin-top:10px;
  margin-right:0px;
  margin-left:0px;
  padding:1px;
  padding-left:0px;
  font-size:40px;
}
.wb_head {
  text-align: right;
  background-color: #ebebeb;
  color: dimgray;
  margin: 50px;
  padding: 50px;
  background-image: url('pics/wblogo_purple.png');
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: 300px;
}
@media only screen and (max-width: 1070px) {
  .wb_head {
    background-image:none;
    margin:auto;
    margin-top:10px;
   }
}
.wb_howItWorks{
    text-align:center;
    color: dimgray;
    margin: 50px;
    padding: 50px;
}
.wb_pricing{
    background-color: #ebebeb;
    color: dimgray;
    padding: 50px;}

.logo {
    background-position: center;
    background-image:url('pics/WN_logo2_grey.png');
    background-size:cover;
    width:70px;
    height:27px;

}

.links1 {
  background-color: white;
}

.bg_add {
    padding:50px;
    width : 1000px;
}
.textdec_none {
  text-decoration: none;
}

.song_container {
  padding:10px;
  margin:20px;
}
.gold {
  color:gold;
}
.song-enter {
  background-color: #f0f0f0;
  border-radius: 100px;
  text-align:center;
  margin:120px;
  padding: 50px;
}
.text-field {
  border-radius: 25px;
  width:300px;
}
input {
  padding:10px;
  border-top:#004bc4 solid 2px;
  border-left: #004bc4 solid 2px;
  border-right:#003489 solid 2px;
  border-bottom:#003489 solid 2px;
}
select {
  padding:10px;
  border-radius: 25px;
  border-top:#004bc4 solid 2px;
  border-left: #004bc4 solid 2px;
  border-right:#003489 solid 2px;
  border-bottom:#003489 solid 2px;
}
.submit-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  width: 100px;
  color: white;
  padding:10px;
  border-radius: 20px;
  background-color: #003489;
  border:none;
  /* border-top:#004bc4 solid 2px;
  border-left: #004bc4 solid 2px;
  border-right:#003489 solid 2px;
  border-bottom:#003489 solid 2px; */
}
.submit-container {
  margin-top:50px;
}
.stored-songs {
  text-align:center;
  padding:50px;
  background-color: #f0f0f0;
}
.settings{
  margin:25px;
  margin-top:0px;
  border:3px solid grey;
}
.settings-section {
  margin:25px;
  padding:30px;
  margin-top:0px;
}
.settings-head {
  margin:25px;
  padding:25px;
  margin-bottom: 0px;
  background-color:#004bc4;
  color:white;
  font-size:20px;
}
.hr-settings{
  margin-right:30px;
  margin-left:30px;
  background-color:grey;
  height: 1px;
  border:none;
}
.cl_date {
  padding:10px;
  background-color:black;
  color:white;
}
.app {
  background-color: #fcfcfc;
  display: inline-block;
  border:#ebebeb solid 2px;
  width:10%;
  padding:20px;
  margin:20px;
  border-radius:10px;
  text-align:center;
  margin:80px;
}
.buy_button {
  padding:5px;
  border:none;
  background-color:blue;
  border: solid 1.5px black;
  color:white;
  border-radius:5px;
}
.app_img {
  border: black solid 2px;
  border-radius: 5px;
}
.app_desc {
  color:#fcfcfc;
  font-size: 12px;
  height:0px;
  transition:.5s;
}
.app_head{
  padding:10px;
  margin: 20px;
  color:#e6e6e6
}
@media screen and (max-width: 1070px) {
  #wb-head {
    margin:0;
    padding:0;
  }
}
.pro-logo {
  color:black;
  padding:10px;
  padding-top:16px;
  padding-bottom:8px;
  background-color:purple;
  font-family: 'Turret Road', cursive;
}
.pro-sublogo {
  background-color: rgb(70,0,70);
  padding:11px;
  color:purple;
}
.app:hover > .app_top {
  background-color:white;
}
.app:hover > .app_desc {
  height:100px;
  background-color:white;
  color:grey;
}
.app:hover > .app_author {
  background-color:white;
}
.app:hover {
  border: 2px solid black;
  background-color: red;
  background-size: cover;
  background-position: center;
  transition: .5s;
}
.cl_text {
  color:grey;
}
.learn_section{
  display:inline-block;
  color:#00550e;
  margin:30px;
  padding:30px;
  width:20%;
  height:180px;
  border-radius: 25px;
  border:2px solid #00550e;
}




.learn-button {
  border-radius: 4px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  float:right;
}

.learn-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.learn-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.learn-button:hover span {
  padding-right: 25px;
}

.learn-button:hover span:after {
  opacity: 1;
  right: 0;
}

.add_button {
  background: none;
  border: 2px rgb(187, 187, 187) solid;
  border-radius: 4px;
  padding: 10px;
  transition:.5s;
}
.add_button a {
  color:gray;
  font-weight: bold;
  text-decoration: none;
}
.add_button:hover {
  background-color:rgb(70, 70, 70);
  border-color:rgb(70, 70, 70);
  font-size:15px;
  transition:.5s;
}
.add_button:hover a {
  color:white;
}
.add_button_pro {
  background: none;
  border: 2px rgb(187, 187, 187) solid;
  border-radius: 4px;
  padding: 10px;
  transition:.5s;
  margin-left:40px;
}
.add_button_pro a {
  color:gray;
  font-weight: bold;
  text-decoration: none;
  color:rgb(70, 0, 70)
}
.add_button_pro:hover {
  background-color:rgb(70, 0, 70);
  border-color:rgb(70, 0, 70);
  font-size:15px;
  transition:.5s;
}
.add_button_pro:hover a {
  color:white;
}








/* test */

.beforeandafter{
  width: 300px;
  height: 300px;
  overflow:hidden;
  position: relative;
}
.before, .after{
  width: 300px;
  height: 300px;
  position: absolute;
  overflow:hidden;
  transition: 1s;
  z-index: 2;
}
.after{
z-index: 1;
background-color:blue;
}
.before {
  background-color:red;
}

.beforeandafter:hover .before{
height:0px;
}









/* 
slideshow */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: none;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  background-color:black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@-webkit-keyframes slide {
    0% {left:0px}
    50% {left:500px}
    100%{left:1000px}
}
@keyframes slide {
    0% {left:0px}
    50% {left:500px}
    100%{left:1000px}
}

.slide {
    height:500px;
}






/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  background-color:black;
  position: absolute;
  bottom: 20px;
  left: 40px;
  color:white;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 100px;
  left: 16px;
}

.app-container{
  text-align:center;
  background-color:black;
  border:2px solid darkgray;
  color:white;
  padding:60px;
  margin-top:0px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:100px;
  width:25%;
}
.app-cover{
  width:80px;
  height:80px;
  border-radius:10px;
  margin-bottom:10px;
}
.app-button{
  border:none;
  border-radius:10px;
  padding:10px;
  color:white;
  font-weight: bold;
  background-color:#F26522;
}
.apps{
  color:white;
  background-color:black;
  margin:0px;
  padding:10px;
  margin-bottom:0px;
  text-align:center;
}
.game_add {
  /*set bg size, pos, and url in style tag*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin:0px;
}
@media screen and (max-width: 1070px) {
  #avion-splash {
    display:none;
  }
}
.game-container {
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
}
.game-sub-container {
  margin-left:auto;
  margin-right:auto;
}
.game-desc{
  background-color: rgba(0,0,0,0.5);
  border: 2px solid white;
  color:white;
  margin:100px;
  padding:100px;
  margin-bottom:0px;
}
.game-info{
  background-color: rgba(0,0,0,0.9);
  border: 2px solid white;
  color:white;
  padding:30px;
  margin:50px;
  margin-top:0px;
  text-align:center;
  display:inline-block;
}
.cf-head {
  padding:150px;
  margin-top:25px;
  margin-bottom:25px;
}
.cf-desc{
  margin:0px;
  background-image: url("pics/fitbit-icon.jpg");
  background-repeat: no-repeat;
  background-size:300px;
  background-position-x: 80%;
  background-position-y: 50%;
  background-color:black;
}
.cf-subhead{
  background-color:darkgreen;
  width:37%;
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  border-radius:20px;
}
@media screen and (max-width: 1070px) {
  .cf-desc {
    background-image:none;
  }
  .cf-head {
    padding:20px;
    padding-top:150px;
    padding-bottom:150px;
  }
}
.cf-container {
  height:40%;
  width:20%;
  margin:2%;
  padding:2%;
  background-color:lightgray;
  text-align:center;
  transition:.5s;
  display:inline-block;
}
@media screen and (max-width:1070px){
  .cf-container{
    width:40%;
  }
}
.cf-container:hover {
  transform: scale(1.1);
  background-color:darkgreen;
  color:white;
  transition:.5s;
}
.cf-pic {
  width:70%;
  height:70%;
}
.cfs-cont{
  text-align: center;
}
.cf-hr {
  width:80%;
  height:5px;
  background-color:gray;
  border:none;
}
.cf-section-head{
  color:gray;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius:5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius:5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #003489;

}
.avion_add {
  background-image: url('pics/ff_graphic.png');
  background-repeat: no-repeat;
  background-position: 70%;
  background-size: 160%;
  background-attachment: fixed;
}



.drop_active {
  border-bottom: 4px solid blue;
}

.drop_active1 {
  border-bottom: 4px solid purple;
}

.drop_active2 {
  border-bottom: 4px solid #F26522;
}

.drop_active3 {
  border-bottom: 4px solid greenyellow;
}

.drop_active4 {
  border-bottom: 4px solid #003489;
}