/* General */
.changer{
  background: none;  
}
html {
  scroll-behavior: smooth;  
}
body{
    margin:0px;
    font-family: "Google Sans","Roboto","Arial",sans-serif;
}
button
{
    outline: 0 none;
}
* {box-sizing:border-box} 
.head {
    padding-left:10px;
    padding-top:0px;
    padding-bottom:0px;
    color:#004bc4;
}
.footer {
  padding:20px;
  margin-top:0px;
  text-align:center;
}
.footer-top {
  text-align:center;
}
.footer-top p{
  color:white;
}
.footer .add_button a{
  color:white;
}
.footer-lower{
  padding:2px;
  display:inline-block;
  width:30%;
  vertical-align: middle;
}
.footer-lower p {
  color:white;
}
.footer-lower p a {
  color:white;
}
.footer-left{
  text-align:left;
  font-weight:bolder;
  font-size: large;
}
.footer-right{
  text-align:right;
}
@media screen and (max-width:1080px){
  .footer-lower{
    display:block;
    margin:auto;
  }
  .footer-left{
    display:none;
  }
  .footer-right{
    text-align:center
  }
}
.navbar{
  overflow: hidden;
  background-color:white;
  position: sticky;
  top: 0;
  width: 100%;
  display: block;
  z-index:100000;
}
.navbar a {
  background-color:white;
  float: left;
  display: block;
  color: gray;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  transition:.2s;
  z-index: 0;
}
.navbar a.nav-right{
  float: right;
}
.navbar .icon {
  display: none;
}
@media screen and (max-width: 1070px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 1070px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.navbar a:hover {
  background-color:rgb(238, 237, 237);
  transition:.2s;
}

.navbar a#home-active {
  background-color: #003489;
  color:white;
}
.navbar a#wb-active {
  background-color: rgb(70, 0, 70);
  color:white;
}
.navbar a#av-active {
  background-color: #F26522;
  color:white;
}
.navbar a#cf-active {
  background-color: darkgreen;
  color:white;
}
.navbar a#pr-active {
  background-color: #ff0040;
  color:white;
}
.navbar a#about-active {
  background-color: #003489;
  color:white;
}
.fas {
  font-size: 20px;
  color:#999999;
}
.textdec_none {
  text-decoration: none;
}
.add_button {
  background: none;
  border: 2px rgb(187, 187, 187) solid;
  border-radius: 4px;
  padding: 10px;
  transition:.1s;
  color:gray;
  font-weight: bold;
}
.add_button a {
  color:gray;
  font-weight: bold;
  text-decoration: none;
}
.add_button:hover {
  background-color:rgb(70, 70, 70);
  border-color:rgb(70, 70, 70);
  transform: scale(1.1);
  transition:.1s;
  color:white;
}
.add_button:hover a {
  color:white;
}
.standard-btn{
  border:none;
  border-radius: 25px;
  color:white;
  padding:15px;
  font-size:large;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius:5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius:5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #003489;

}
.text-strike {
  position: relative;
}
.text-strike::after {
  border-bottom: 0.125em solid red;
  content: "";
  left: 0;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}
.animation{
  position:relative;
}

.aFadeUp{
  opacity:0;
}
.aFadeUp.animationTrigger{
  opacity: 1;
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {
    top:100px;
    opacity: 0;
  }
  50% {
    top:0px;
  }
  100%{
    opacity: 1;
  }
}

.aFadeDown{
  opacity:0;
}
.aFadeDown.animationTrigger{
  opacity: 1;
  animation: fadeDown 2s;
}
@keyframes fadeDown {
  0% {
    bottom:100px;
    opacity: 0;
  }
  50% {
    bottom:0px;
  }
  100%{
    opacity: 1;
  }
}

.aFadeLeft{
  opacity:0;
}
.aFadeLeft.animationTrigger{
  opacity: 1;
  animation: fadeLeft 2s;
}
@keyframes fadeLeft {
  0% {
    right:100px;
    opacity: 0;
  }
  50% {
    right:0px;
  }
  100%{
    opacity: 1;
  }
}

.aFadeRight{
  opacity:0;
}
.aFadeRight.animationTrigger{
  opacity: 1;
  animation: fadeRight 2s;
}
@keyframes fadeRight {
  0% {
    left:100px;
    opacity: 0;
  }
  50% {
    left:0px;
  }
  100%{
    opacity: 1;
  }
}

.aShrink{
  transform:scale(2);
  opacity:0;
}
.aShrink.animationTrigger{
  opacity: 1;
  transform:scale(1);
  animation: shrinkIn 2s;
}
@keyframes shrinkIn {
  0% {
    transform:scale(2);
    opacity: 0;
  }
  100%{
    transform:scale(1);
    opacity: 1;
  }
}

.aGrow{
  transform:scale(0.5);
  opacity:0;
}
.aGrow.animationTrigger{
  opacity: 1;
  transform:scale(1);
  animation: growIn 2s;
}
@keyframes growIn {
  0% {
    transform:scale(0.5);
    opacity: 0;
  }
  100%{
    transform:scale(1);
    opacity: 1;
  }
}



































/* Home */
.home-head{
  background-color:#f1f1f1;
  color:#3d3d3d;
  padding: 19% 3%;
  background-image:url('pics/QuickLaunch5-clear.png');
  background-repeat:no-repeat;
  background-position:95%;
  background-size:40%;
}

.home-printingget{
  margin:0;
  padding:10%;
  color:black; 
  text-align:center;
}
.home-printingget-left,.home-printingget-right {
   display:inline-block;
   width:30%;
}
.home-printingget-left{
  vertical-align: middle;
  font-size: larger;
}
.home-printingget-right{
  vertical-align: middle;
}
.home-printingget-right a{
  font-size:x-large;
  color:black;
  text-decoration: none;
  border-bottom:3px solid black;
}
@media screen and (max-width:1080px){
  .home-head{
    text-align:center;
    background-position:center;
    background-size:cover;
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.8);
    padding: 70% 3%;
  }
  .home-printingget{
    margin: 10% 0;
  }
  .home-printingget-left,.home-printingget-right{
    display:block;
    width:100%;
    padding: 2%;
  }
}






































/* Website Builder */
.beforeandafter{
  width: 300px;
  height: 300px;
  overflow:hidden;
  position: relative;
}
.before, .after{
  width: 300px;
  height: 300px;
  position: absolute;
  overflow:hidden;
  transition: 1s;
  z-index: 2;
}
.after{
z-index: 1;
background-color:blue;
}
.before {
  background-color:red;
}

.beforeandafter:hover .before{
height:0px;
}

.wb-head{
  text-align:center;
  width:25%;
  margin:auto;
  margin-top:7%;
  margin-bottom:7%;
  font-size: x-large;
}
.getwebsitebutton {
  border:none;
  background-color: rgb(182, 0, 182);
  border-radius: 25px;
  color:white;
  padding:15px;
  font-size:large;
}
@media screen and (max-width:1080px){
  .wb-head {
    width:100%;
  }
}


.wb-customize{
  width:100%;
  padding-top:10%;
  padding-bottom:10%;
  background-color:rgb(70, 0, 70);
  margin:0;
  background-image: url('pics/codingblur.png');
  background-size: 77%;
  background-position-x:218%;
  background-position-y: center;
  background-repeat: no-repeat;
}
.wb-customize h1{
  color:white;
}
.wb-customize p{
  color:white;
}
.wb-customize p {
  text-align:justify;
  margin-bottom:30px;
}
.wb-customize-innertext{
  width:50%;
  padding:5%;
}
@media screen and (max-width:1080px){
  .wb-customize{
    background-image:none;
    text-align:center;
  }
  .wb-customize p{
    text-align:center;
  }
  .wb-customize-innertext{
    width:100%;
  }
}


.wb-webdesabove{
  text-align:center;
  margin:10px;
  padding:10px;
}
.wb-webdesabove p {
  color:rgb(70, 0, 70);
  font-weight:bolder;
}
.wb-webdesabove img{
  width:50%;
}
@media screen and (max-width:1080px){
  .wb-webdesabove img {
    width:100%;
  }
}

.wb-mobile{
  text-align:right;
  width:100%;
  padding-top:10%;
  padding-bottom:10%;
  background-color:rgb(70, 0, 70);
  margin:0;
  background-image: url('pics/mobileresponsive2.png'),url('pics/mobileresponsive1.png');
  background-size: 15%,77%;
  background-position-x:20%,-120%;
  background-position-y: 55%,center;
  background-repeat: no-repeat;
}
.wb-mobile h1{
  color:white;
}
.wb-mobile p{
  color:white;
}
.wb-mobile p {
  text-align:right;
  margin-bottom:30px;
}
.wb-mobile-innertext{
  width:50%;
  padding:5%;
  margin-left:50%;
}
@media screen and (max-width:1080px){
  .wb-mobile{
    background-image:none;
    text-align:center;
  }
  .wb-mobile p{
    text-align:center;
  }
  .wb-mobile-innertext{
    width:100%;
    margin:0;
  }
}

.wb-steps{
  background-color: rgb(226, 226, 226);
  margin:10%;
  margin-top:2%;
  margin-bottom:2%;
  padding:5%;
  border:10px solid black;
  border-radius: 100px;
}
.wb-steps h3 {
  background-color: rgb(182, 0, 182);
  width:20%;
  padding:6px;
  color:white;
}
.wb-steps p {
  color:black;
}
@media screen and (max-width:1080px){
  .wb-steps{
    margin:1%;
    margin-top:10%;
    margin-bottom:10%;
    text-align: center;
    border:none;
    background:none;
  }
  .wb-steps h3 {
    width:50%;
    margin:auto;
  }
}

.wb-get{
  background-color:rgb(90, 90, 90);
  margin:0;
  padding:10%;
  color:white;
  text-align:center;
}
.wb-get-left,.wb-get-right {
   display:inline-block;
   width:30%;
}
.wb-get-left{
  vertical-align: middle;
  font-size: larger;
}
.wb-get-right{
  vertical-align: middle;
}
@media screen and (max-width:1080px){
  .wb-get-left,.wb-get-right {
    display:block;
    width:100%;
 }
}


.wb-pricing-cont{
  text-align:center;
  padding:2% 0 4%;
}
.wb-pricing{
  display:flex;
}
.wb-pricing-item{
  padding:2%;
  width:50%;
}
.wb-pricing-item hr {
  border:1px solid currentColor;
  background-color:currentColor;
  width:75%;
  margin:5% auto;
}
.wb-pricing-wbs{
  background-color:#ccc;
}
.wb-pricing-wbp{
  background-color:rgb(70,0,70);
  color:white;
}
@media screen and (max-width: 650px){
  .wb-pricing{
    display:block;
  }
  .wb-pricing-item{
    width:100%;
  }
}





































/* Avion */
.avion-head{
  padding: 16% 7%;
  color: #3d3d3d;
  background-color:#f1f1f1;
  background-image: url('pics/avion_logo_rotated.png');
  background-position-x: 120%;
  background-size: 60%;
  background-repeat: no-repeat;
}
.avion-gamehead{
  text-align:center;
  padding:1%;
}
.avion-gamehead-button{
  text-decoration: none;
  margin:0% 2%;
}
.avion-gamehead-button img{
  width:2%;
  border-radius: 20px;
  transition:.2s;
}
.avion-gamehead-button img:hover{
  border-radius: 5px;
  transform: scale(3);
  transition:.2s;
}


.avion-different{
  display:flex;
  background-color:black;
}
.avion-different-text{
  width:50%;
  padding:10%;
  color:white;
}
.avion-different-video-cont{
  width:50%;
  margin:auto;
}
.avion-different-video{
  width:100%;
}


.avion-app{
  display:flex;
  background-size: cover;
}
.avion-app-text{
  width:50%;
  padding:10%;
  background-color:rgba(0,0,0,.6);
  color:white;
}
.avion-app-img-cont{
  width:50%;
  margin:auto;
  text-align: center;
}
.avion-app-img{
  width:40%;
  border:10px solid rgba(0,0,0,.2);
  border-radius:25px;
}
.avion-download-btn{
  border:solid white 1px;
  border-radius:5px;
  background-color: #F26522;
  color:white;
  padding:2%;
  font-weight:bolder;
}
.avion-donate{
  background-color:#3d3d3d;
  color:white;
  padding:10%;
  text-align:center;
}

@media screen and (max-width: 700px){
  .avion-head{
    background-image: url("pics/avion_logo_rotated.png");
    background-position: center;
    background-size:250%;
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.8);
    text-align:center;
    padding: 40% 7%;
  }
  .avion-gamehead-button img {
    width:10%;
  }
  .avion-gamehead-button img:hover {
    border-radius: 20px;
    transform: scale(1);
  }
  .avion-different{
    display:block;
    background:none;
  }
  .avion-different-text{
    width:100%;
    padding:5% 2%;
    text-align:center;
    background-color:#F26522;
  }
  .avion-different-video-cont{
    width:100%;
    background-color: black;
  }
  .avion-app-text{
    width:100%;
    text-align:center;
  }
  .avion-app-img-cont{
    display:none;
  }
}






























































/* Clockfaces */
.cf-head{
  padding: 12% 10%;
  color: #3d3d3d;
  background-color:#f1f1f1;
  background-image: url('pics/cf-head-pic.png');
  background-position:center;
  background-size:150%;
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.95);
}
.cf-head h3{
  color:darkgreen;
}
.cf-nav{
  padding:2%;
  background-color:#e9e9e9;
  text-align:center;
}
.cf-nav a {
  text-decoration: none;
  color:#3d3d3d;
  padding:2% 4%;
  transition: background-color .4s;
}
.cf-nav a:hover{
  background-color:#dddddd;
  transition:.2s;
}
.cf-container {
  height:40%;
  width:20%;
  margin:2%;
  padding:2%;
  background-color:lightgray;
  text-align:center;
  transition:.5s;
  display:inline-block;
}
.cf-container:hover {
  transform: scale(1.1);
  background-color:darkgreen;
  color:white;
  transition:.5s;
}
.cf-pic {
  width:70%;
  height:70%;
}
.cfs-cont{
  text-align: center;
}
.cf-hr {
  width:80%;
  height:5px;
  background-color:gray;
  border:none;
}
.cf-section-head{
  color:gray;
}
.cf-help{
  margin:1% 0 5%;
  background-color:darkgreen;
  text-align:center;
  color:white;
}
.cf-help h1 {
  font-size:70px;
  padding:2% 0 0 0;
}
.cf-help-section1,.cf-help-section2 {
  padding:2%;
}
.cf-help-section2{
  background-color:#3d3d3d;
}
.cf-topwarning{
  background-color:red;
  text-align: center;
  color:white;
  padding:1%;
}
.cf-topnotice{
  background-color:green;
  text-align: center;
  color:white;
  padding:1%;
}
@media screen and (max-width:815px){
  .cf-head{
    background-size:290%;
    text-align:center;
    padding: 40% 7%;
  }
}
@media screen and (max-width:650px){
  .cf-nav{
    padding:4%;
  }
  .cf-nav a{
    padding:4% 28%;
    font-size:larger;
    line-height: 50px;
  }
}
@media screen and (max-width:1070px){
  .cf-container{
    width:90%;
    padding:4%;
  }
  .cf-container h3 {
    font-size:x-large;
  }
  .cf-container h6 {
    font-size: large;
  }
  @media screen and (max-width:700px){
    .cf-help h1 {
      padding:10% 0 0;
    }
    .cf-help-section1,.cf-help-section2 {
      padding:5%;
    }
  }
}

































/* FAQs */
.faq-head{
  text-align:center;
  padding:4%;
  background-color:darkgreen;
  color:white;
  font-size:xx-large;
}
.faq-question{
  padding:1%;
  margin:2% 15% 0;
  text-align: center;
}
.faq-question h2 {
  color:darkgreen;
}
.faq-stillneedhelp{
  margin:2% 0 0;
  padding:4%;
  background-color:#3d3d3d;
  text-align:center;
  color:white;
}










































/* 3D Printing */
.printing-producthead{
  padding:18% 5%;
  background-image:url("pics/Products/PhoneStandRound.png");
  background-repeat: no-repeat;
  background-position-y:center;
  background-position-x:90%;
}
.printing-head{
  padding:15% 2%;
  background-color:#78001e;
  color:white;
  line-height: 0.5;
  background-image:url("pics/3d-logo.png");
  background-repeat: no-repeat;
  background-position-y:center;
  background-position-x:90%;
}
.printing-head h1{
  font-size:400%;
}
.printing-head h1 span {
  text-shadow: #ff0040 -4px -4px;
}
.printing-howitworks{
  background-color:black;
  color:white;
  padding:2%;
  text-align:center;
}
.printing-howitworks a{
  color:white;
  text-decoration: none;
}
.printing-howitworks h1{
  font-size:300%;
}
.printing-howitworks-section{
  display:inline-block;
  width:30%;
  padding:2%;
}
.printing-howitworks-section span{
  text-shadow: 0px 3px #ff0040;
}
.printing-howitworks-section p{
  color:#78001e;
}
.printing-pla{
  background-color:#f2f2f2;
  background-image:url('pics/printing-car.png');
  background-repeat: no-repeat;
  background-size:40%;
  padding:10%;
  background-position: 90%;
}
.printing-example{
  padding:5%;
  text-align:center;
  background-color:#ff0040;
  color:white;
}
.printing-example img{
  width:30%;
  display:inline-block;
  vertical-align: middle;
}
.printing-example .content{
  display:inline-block;
  width:30%;
  vertical-align: middle;
}
.printing-upload{
  text-align:center;
}
.printing-upload .left,.right{
  display:inline-block;
  vertical-align: middle;
  width:40%;
  padding:2%;
  margin:5% 0;
}
.printing-upload .right{
  background-color:#f1f1f1;
  border-radius:50px;
  line-height: 10px;
}
.printing-upload .left img {
  width:25%;
}
.printing-upload hr {
  border:solid 2px #ccc;
  margin:8% 0;
}

@media screen and (max-width: 1820px){
  .printing-upload .right{
    line-height: normal;
  }
}
@media screen and (max-width:1560px){
  .printing-head{
    background-size:20%;
    line-height: normal;
  }
}
@media screen and (max-width: 1100px){
  .printing-producthead{
    text-align:center;
    background-position: center;
  }
  .printing-head{
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
    background-size:50%;
    line-height: normal;
    text-align:center;
  }
  .printing-howitworks-section{
    display:block;
    width:100%;
    font-size:120%;
  }
  .printing-howitworks-section img{
    width:25%;
  }
  .printing-pla{
    background-position: center;
    background-size:cover;
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.8);
    text-align:center;
  }
  .printing-example img {
    width:100%;
  }
  .printing-example .content{
    width:100%;
  }
  .printing-upload{
    padding:5%;
  }
  .printing-upload hr{
    margin:4%;
  }
  .printing-upload .left,.right{
    display:block;
    width:100%;
  }
}
@media screen and (max-width: 530px){
  .printing-producthead{
    background-size:95%;
    padding:40% 5%;
  }
  .printing-head{
    background-size:100%;
  }
  .printing-upload{
    padding:0;
  }
  .printing-upload .right{
    border-radius:0;
  }
}

































/* Products */
.products-head{
  text-align:center;
  padding:3%;
  background-color:#003489;
  color:white;
  margin:0 0 2%;
  font-size:x-large;
}
.products-container{
  text-align:center;
  margin-bottom:5%;
}
.products-product-container{
  color:black;
  text-decoration: none;
} 
.products-product{
  background-color:#f1f1f1;
  margin:1%;
  display:inline-block;
  padding: 2%;
  border-radius: 2%;
  text-align:center;
  width:28%;
  transition: transform .2s;
  vertical-align: middle;
}
.products-product form{
  float:right;
  text-align: right;
}
.products-product img{
  width:40%;
  padding:1%;
}
.products-product .content{
  display:inline-block;
  width:60%;
  float:right;
  text-align:right;
  vertical-align: middle;
}
.products-product p:not(.products-shipping) {
  display:inline-block;
}
.products-product .content span{
  font-weight: bolder;
}
.products-product:hover{
  transform:scale(1.01);
  transition:.2s;
  background-color:#e8e8e8;
}
.products-comingsoon{
  text-align:center;
  font-size:larger;
  color:gray;
  margin:10% 0;
}
@media screen and (max-width:1800px){
  .products-product{
    width:40%;
  }
}
@media screen and (max-width:1220px){
  .products-product{
    width:60%;
  }
}
@media screen and (max-width:780px){
  .products-product{
    width:90%;
    font-size:large;
  }
  .products-product .content{
    display:inline-block;
    float:none;
    text-align:center;
  }
  .products-product form{
    float:none;
    text-align:center;
    display:inline-block;
  }
  .products-product:hover{
    transform:scale(1);
    background-color:#f1f1f1;
  }
}









































/* ProductPage */
.productpage-back{
  position:absolute;
  padding:1% 1%;
}
.productpage-info{
  padding:10%;
}
.productpage-info img{
  width:30%;
}
.productpage-info .content{
  float:right;
  width:40%;
  display: inline-block;
}
.productpage-info h4{
  color:gray;
}
.paypal-form{
  line-height:200%;
}

@media screen and (max-width:1200px){
  .productpage-info .content{
    width:50%;
  }
}
@media screen and (max-width:900px){
  .productpage-info {
    text-align:center;
  }
  .productpage-info .content{
    float:none;
    width:100%;
  }
  .productpage-info h2,h4{
    display:inline-block;
  }
  .productpage-info img{
    width:50%;
  }
  .paypal-form table{
    display:inline-block;
  }
}
@media screen and (max-width:615px){
  .productpage-info img{
    width:80%;
  }
}
































/* Developers Page */
.developers-head
{
  background-color:#003489;
}
.developers-head .content{
  background-image:url("pics/WN-empowering-knowledge.png");
  background-position: right;
  background-size: 50%;
  background-repeat:no-repeat;
  color:white;
  padding:5% 5%;
  font-size:x-large;
}
.developers-nav{
  padding:1%;
  background-color:#e9e9e9;
  text-align:center;
}
.developers-nav a {
  text-decoration: none;
  color:#3d3d3d;
  padding:1% 4%;
  transition: background-color .4s;
}
.developers-nav a:hover{
  background-color:#dddddd;
  transition:.2s;
}
.developers-lefttxt-rightimg{
  padding:10%;
  background-position: 85%;
  background-size: 25%;
  background-repeat:no-repeat;
}
.developers-lefttxt-rightimg .content{
  width:50%;
}
#developers-quicklaunch{
  background-image: url('pics/QuickLaunch5.png');
}
#developers-asteroids2{
  background-image: url('pics/asteroids2.gif');
}
#developers-avionbw{
  background-image: url('pics/avion_logo_rotated_bw.png');
}
#developers-empowerknowledge{
  background-image: url('pics/WN-empowering-knowledge-text.png');
}
.developers-centertxt-top{
  padding:5%;
  text-align:center;
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
  background-image: url('pics/3489curve.png');
}
.developers-centertxt-middle{
  padding:5% 5% 10%;
  text-align:center;
  background-color:#003489;
  padding-top:10%;
  background-position-y:0%;
  color:white;
}
.developers-centertxt-middle .developers-download-btn{
  border-color:white;
  color:white;
}
.developers-centertxt-middle .developers-download-btn:hover{
  background-color: white;
  color:#003489;
}
.developers-centertxt-bottom{
  padding:5% 5% 10%;
  text-align:center;
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
  background-image: url('pics/3489curve-flipped.png');
  padding-top:10%;
  background-position-y:0%;
}
.developers-centertxt-top p{
  background-color: #003489;
  color:white;
  padding:1%;
  margin:2% 0;
}
.developers-centertxt-bottom p{
  background-color: #003489;
  color:white;
  padding:1%;
  margin:2% 0;
}
.developers-projects{
  text-align:center;
  color:gray;
  padding: 5%;
}
.developers-download-btn{
  border:#003489 solid 2px; 
  background:none;
  color:#003489;
  padding:10px;
  transition:transform .1s;
}
.developers-download-btn:hover{
  background-color:#003489;
  color:white;
  transform:scale(1.1);
  transition:.1s;
}
@media screen and (max-width:1000px){
  .developers-head{
    text-align:center;
    background-image:none;
    background-color:#003489;
  }
  .developers-lefttxt-rightimg .content{
    padding:20% 0;
    text-align:center;
    width:100%;
  }
  .developers-lefttxt-rightimg{
    background-position: center;
    background-size: cover;
    box-shadow: inset 1000px 0 0 0 rgba(255,255,255,0.8);
    margin:5%;
    border-radius:5%;
  }
  .developers-centertxt-bottom{
    background-image:none;
    background-color:#003489;
    color:white;
  }
  .developers-centertxt-top img{
    width:100%;
  }
  .developers-centertxt-middle img{
    width:100%;
  }
  .developers-centertxt-bottom img{
    width:100%;
  }
  .developers-centertxt-top p{
    padding:2% 0;
    line-height: 30px;
  }
  .developers-centertxt-bottom p{
    padding:2% 0;
    line-height: 30px;
  }
  .developers-centertxt-bottom .developers-download-btn{
    border-color:white;
    color:white;
  }
  .developers-centertxt-bottom .developers-download-btn:hover{
    background-color: white;
    color:#003489;
  }
  .developers-nav{
    padding:4%;
    position:static;
  }
  .developers-nav a{
    padding:4% 28%;
    font-size:larger;
    line-height: 50px;
  }
}







































/* About */
.about-head{
  text-align:center;
}
.about-wn {
  background-color:rgb(226, 226, 226);
  margin:50px;
  padding:20px;
  border-radius:25px;
  text-align:center;
}
.about-wn hr {
  background-color:#003489;
  border:1px solid #003489;
}
.insta-btn{
  font-size:60px;
  border:none;
  background: linear-gradient(45deg, #ffc422, #e626ff);
  border-radius:10px;
  padding:2px 10px;
  color:white;
}



















































